<h2>
    Template Driven Forms
</h2>
<form #myForm="ngForm"
      (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">
            Name:
            <input type="text"
                   id="name"
                   required
                   [(ngModel)]="name"
                   name="name">
        </label>
        <label for="age">
            Age:
            <input type="text"
                   required
                   minlength="2"
                   appNumberValidator
                   ngModel
                   #age="ngModel"
                   id="age"
                   [ngClass]="{'ng-valid': !age.errors}"
                   name="age">
        </label>

        <div>
            Name: {{name}}, age: {{age.value || age}}
        </div>
        <button type="submit">
            Submit
        </button>
    </div>
</form>

