<h2>
    Reactive Driven Forms
</h2>
<form [formGroup]="myForm"
      novalidate>
    <div class="form-group">
        <div class="form-group">
            <label class="center-block">
                Name:
                <input class="form-control"
                       formControlName="name">
            </label>
        </div>
        <div class="form-group">
            <label class="center-block">
                Age:
                <input class="form-control"
                       formControlName="age">
            </label>
        </div>
    </div>
    <div class="form-group"
         formGroupName="address">
        <div class="form-group">
            <label class="center-block">
                City:
                <input class="form-control"
                       formControlName="city">
            </label>
        </div>
        <div class="form-group">
            <label class="center-block">
                Street:
                <input class="form-control"
                       formControlName="street">
            </label>
        </div>
    </div>
</form>
<button (click)="resetForm()">
    Reset Form
</button>

<p>Form value: {{myForm.value | json}}</p>
<p>Form value: {{myForm.status | json}}</p>
<p>Age value: {{myForm.get('age').value}}</p>
<p>Age value: {{myForm.get('age').status}}</p>
<p>Street value: {{myForm.get('address.street').value}}</p>
